[Unit]
Description= disable Wi-Fi on boot
After=hibernate.target

[Service]
ExecStart=/sbin/ip link set wlan0 down

[Install]
WantedBy=hibernate.target
